.navbar {
    background-color: rgb(218, 124, 213) !important;
}

.post-div {
    margin: 0px auto;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 60%;
    /* align-items: center; */

}

.text-area {
    border: none;
}

.profile {
    border-radius: 50%;
}

.profile-area {
    display: flex;
    margin: 10px;

}
.name-time{
    margin-left: 10px;
    margin-top: 10px;
}
.post-text-area{
    border: none;
    outline: none;
    width: 100%;
}
.bg-1{
    padding-top: 30px;
    background-image: url(./img/bg-1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    text-align: center;
    
}
.bg-2{
    padding-top: 30px;
    background-image: url(./img/bg-2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    text-align: center;
    
}
.bg-3{
    padding-top: 30px;
    background-image: url(./img/bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    text-align: center;
    
}
.like-div{
    display: flex;
    justify-content: space-between;

}
.like-btn{
    width: 32%;
    margin: 0px;
    background-color: #f0eaea !important;
}
